.deletetrans{
    opacity: 0;
    position: absolute;
    top: 1em;
    transform: translate(-50%, -50%);
}

.onhover{
    position: relative;
}
.onhover:hover .deletetrans{
    opacity: 1;
}

.cardstyle{
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.title{
    margin-right: 8em;
}

@media (max-width:400px){
    .onhover{
        font-size: small;
    }
}

@media (min-width:768px){
    .title{
        margin-right: 25em;
    }
}

@media (min-width:400px) and (max-width:768px){
    .title{
        margin-right: 14em;
    }
}